@import '../../styles/variables/colors.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 64px;
    }

    &-title {
        font-size: 34px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 4px;
        color: $aqua;   
        span {
            font-weight: 200;
        }  
    }

    &-button {
        background: none;
        border: none;
        cursor: pointer;
    }

    &-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}